* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif
}

body {
  background: gainsboro;
}

h1, h2 {
  padding: 1em;
  text-align: center;
}

.videoContainer {
  position: relative;
  width: 400px;
  background-color: #eee;
  margin-bottom: 3em;
}

video {
  width: 100%;
}

#messageBoard {
  display: inline-block;
  padding: 5px;
  width: 100%;
  height: 200px;
  background-color: #eee;
  overflow: scroll;
}

#newComment {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  line-height: 1.5;
}

#btnComment {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 3px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  line-height: 1.5;
}

.author {
  font-weight: bold;
  color: blue;
}
